*.elc
.clj-kondo/
.lsp/
.arxana-language

# Futon0 workflow artifacts
boundary.edn

# Docbook/log artifacts
dev/logs/

# Spine export artifacts
spine.el
spine2*.aux
spine2*.log
spine2*.out
spine2*.toc
spine2*.tex
spine2*.pdf
spine2-code-links.*
